<h1 class="title">News Feed</h1>
  <div class="news-feed-wrap">
    <div class="half">
      <div class="articles">
        <ul class="articles-border">
          <% @news_posts.each do |post| %>
            <li><%= link_to post.title, post, class: "title-news-feed" %>
              <% if charity_logged_in? %>
                <%= render 'button', post: post %>
              <% end %>
              <div class="author">
                <p>Author: <%= link_to post.charity.organization_name, post.charity %>
                  <% t = post.created_at %> <br>
                  Date posted: <%= t.strftime("%m/%d/%Y at %I:%M%p")%>  </p>
              </div>
              <div class="img-text-news-wrap">
              <div class="img-news-wrap">
                <% if post.image.present? %>
                  <%= image_tag post.image, src: post.image, class: "img-news-post" %>
                <% else %>
                  <%= link_to post.image do %>
                  <%= image_tag "/news_post.png", class: "img-news-post" %>
                  <% end %>
                <% end %>
              </div>
              <div class="text-news-wrap">
                <span><%= simple_format(post.text).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></span>
              </div>
              </div>
            </li>
          <% end %>
        </ul> 
      </div>    
    </div>
  <div class="half">
    <div class="twitter-feed">
      <div class="container">
        <ul>
          <% @charities_tweets.each do |post| %>
            <% if post %>
              <div class="row">
                <div class="col-sm-12 strip">
                <% twitter_avatar = post.user.profile_image_url %>
                  <img  src=<%=twitter_avatar%>  alt="profile image" />
                  <strong><%= post.user.name %></strong> 
                  <span class="light"> @<%= post.user.screen_name %> - 
                  <span class="time"><%= post.created_at.strftime("%m/%d/%Y at %I:%M%p") %> <img id="logo" 
                    src="/twitter_logo.png"
                    alt="twitter logo", 
                    height="25" />
                    </span>
                    </span>
                  <br> <%= post.text %> <br>
                  <div class="summary">
                    <span class="buttons">
                      <a href="#"><i class="fa fa-reply"></i> Reply</a>
                      <a href="#"><i class="fa fa-retweet"></i> Retweet</a>
                      <a href="#"><i class="fa fa-star"></i> Favourite</a>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= will_paginate @news_posts, class: "pagination numbers" %>
