<h1>Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@charity) do |f| %>

      <%= f.label :organization_name %>
      <%= f.text_field :organization_name %>

      <%= f.label :tax_id %>
      <%= f.number_field :tax_id %>

      <%= f.label :contact_name %>
      <%= f.text_field :contact_name %>

      <%= f.label :contact_email %>
      <%= f.email_field :contact_email %>

      <%= f.label :website_url %>
      <%= f.text_field :website_url %>

      <%= f.label :twitter_handle %>
      <%= f.text_field :twitter_handle %>

      <%= f.label :avatar %>
      <%= f.file_field :avatar %>

      <%= f.label 'Categories' %>
      <%= f.collection_check_boxes :categories, @categories, :id, :category_name do |box| %>
        <%= box.label %> <%= box.check_box checked: @charity.categories.pluck(:id).include?(box.value) ? true : false  %>
      <% end %>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= console %>
