#This is the pre-React version of this page. Kept in case we need to reference it


<h1>Charity Search</h1>

<%= react_component 'CharitySearch' %>

<%= form_with(url: charities_path, method: :get, local: true) do |form| %>
  <%= form.search_field :term,
      placeholder: 'Search',
      value: params[:term],
      class: 'form-control mb-2'  %>
  <%= form.hidden_field :category, value: params[:category] %>
<% end %>

<ul>
  <li><%= link_to "All", charities_path %> </li>
  <% @categories.each do |category| %>
    <li><%= link_to category.category_name, charities_path(category: category.category_name) %></li>
  <% end %>
</ul>



<ul>
  <% @charities.each do |charity| %>
    <li><%= link_to charity.organization_name, charity %></li>
  <% end %>

  <%= will_paginate @charities %>
</ul>
