<h1><%= @charity.organization_name %>!</h1>
<% if @charity.avatar.attached? %>
  <%= image_tag @charity.avatar %>
<% else %>
  <%= image_tag '/gina.jpg' %>
<% end %>
<% if user_logged_in? %>
  <% unless current_user.follows?(@charity) %>
    <%= link_to "Follow",
        user_charity_path(user_id: current_user.id,id:  @charity.id),
        method: :put
    %>
  <% else %>
    <%= link_to "Unfollow",
        user_charity_path(user_id: current_user.id, id: @charity.id),
        method: :delete
    %>
  <% end %>
<% end %>

<% if charity_logged_in? %>
  <p>Organization Name: <%= current_charity.organization_name %></p>
  <p>TaxID: <%= current_charity.tax_id %></p>
  <p>Contact Name: <%= current_charity.contact_name %></p>
  <p>Contact email: <%= current_charity.contact_email %></p>
  <p>Twitter handle: <%= current_charity.twitter_handle %></p>
  <p>Website: <%= current_charity.website_url %></p>
<% end %>

<h2>News Posts</h2>
<ul>
  <% @news_posts.each do |news_post| %>
    <li> <%= link_to news_post.title, news_post %> </li>
  <% end %>
</ul>

<% if charity_logged_in? %>
  <h2>Categories</h2>
    <ul>
      <% @charity.categories.each do |category| %>
        <li> <%= category.category_name %> </li>
      <% end %>
    </ul>
<% end %>
