<div class="profile-wrap-wrap">
  <div class="profile-wrap">
    <div class="img-profile-wrap">
      <% if @charity.avatar.attached? %>
        <%= image_tag @charity.avatar, class: "img-profile"  %>
      <% else %>
        <%= image_tag '/gina.jpg', class: "img-profile"  %>
      <% end %>
      <h1 class="title-profile"><%= @charity.organization_name %></h1>
      <% if user_logged_in? %>
        <% unless current_user.follows?(@charity) %>
          <%= link_to user_charity_path(user_id: current_user.id,id:  @charity.id),
              method: :put do %>
                <i class="fas fa-user-plus bigger"></i>
          <% end %>
        <% else %>
          <%= link_to user_charity_path(user_id: current_user.id, id: @charity.id),
              method: :delete do %>
                <i class="fas fa-user-minus bigger"></i>
          <%end%>
        <% end %>
        <div class="donate">
          <%= link_to "Donate Now", new_charge_path(charity_id: @charity.id), class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
      <div class="info-profile">
        <div class= "other-info">
          <% if charity_logged_in? %>
            <h2 class="title-profile-h2">Charity Profile- <%= link_to "Edit", edit_charity_path %></h2>
            <p class="text-profile">Organization Name: <%= current_charity.organization_name %></p>
            <p class="text-profile">TaxID: <%= current_charity.tax_id %></p>
            <p class="text-profile">Contact Name: <%= current_charity.contact_name %></p>
            <p class="text-profile">Contact email: <%= current_charity.contact_email %></p>
            <p class="text-profile">Twitter handle: <%= current_charity.twitter_handle %></p>
            <p class="text-profile">Website: <%= current_charity.website_url %></p>
          <% end %>
        </div>
        <div class= "other-info">
          <h2 class="title-profile-h2">News Posts</h2>
          <ul>
            <% @news_posts.each do |news_post| %>
              <li class="text-profile"> <%= link_to news_post.title, news_post %> </li>
            <% end %>
          </ul>
        </div>
        <div class= "other-info">
          <% if charity_logged_in? %>
            <h2 class="title-profile-h2">Categories</h2>
              <ul>
                <% @charity.categories.each do |category| %>
                  <li class="text-profile"> <%= category.category_name %> </li>
                <% end %>
              </ul>
          <% end %>
        </div>
    </div>
  </div>
</div>
