<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <% if alert %>
    <%= alert %>

  <% end %>
  <% if notice %>
    <%= notice %>

  <% end %>
    <%= yield %>
  </body>
</html>
