<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if logged_in? %>
    <nav>
      <%= link_to "Home ", root_url %> |
      <%= link_to "Log out", logout_path, method: :delete %>
    </nav>
  <% elsif charity_logged_in? %>
    <nav>
      <%= link_to "Home ", root_url %> |
      <%= link_to "Create News Post", new_news_post_path %>
      <%= link_to "News Post Feed", news_posts_path %>
      <%= link_to "Log out", charity_logout_path, method: :delete %>
    </nav>
  <% else %>
    <nav>
      <%= link_to "Home ", root_url %> |
      <%= link_to "User Sign in", login_path %> |
      <%= link_to "Charity Sign in", charity_login_path %> |
      <%= link_to "User Sign up", new_user_path %> |
      <%= link_to "Charity Sign up", new_charity_path %>
    </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
